{% extends 'base.html.twig' %}

{% block title %}All Societies !{% endblock %}

{% block body %}

<h1>Societies list :</h1>

{% for society in societies %}
    <p>{{ society }}</p>
{% endfor %}

{% endblock %}
