{% extends 'base.html.twig' %}

{% block title %}All Societies !{% endblock %}

{% block body %}

<h1>Societies list :</h1>

{% for data in tableau %}
    <p>{{ data }}</p>
{% endfor %}

{% endblock %}
