{% extends 'base.html.twig' %}

{% block title %}Create a society{% endblock %}

{% block body %}

<div class="navbar-main">
    <a class="navbar-button" href="{{ path("app_employee") }}">See employee list</a>
    <a class="navbar-button" href="{{ path("app_society") }}">See society list</a>
</div>

{% if edit %}
    <h1>Edit Society</h1>
{% else %}
    <h1>Create a Society</h1>
{% endif %}

{{ form(formAddSociety) }}

{% endblock %}
