{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeController!{% endblock %}

{% block body %}

<ul>
    <li><a href="{{ path("app_employee") }}">See employee list</a></li>
    <li><a href="{{ path("app_society") }}">See society list</a></li>
</ul>

<h1>Employee list :</h1>

<ol>
    {% for employee in employees %}
        <li><a href="#">{{ employee }}</a></li>
    {% endfor %}
</ol>

{% endblock %}
