{% extends 'base.html.twig' %}

{% block title %}Create an Employee{% endblock %}

{% block body %}

<ul>
    <li><a href="{{ path("app_employee") }}">See employee list</a></li>
    <li><a href="{{ path("app_society") }}">See society list</a></li>
</ul>

<h1>Create an Employee :</h1>

{{ form(formAddEmployee) }}

{% endblock %}
